.ui {
  font-family: 'Raleway', sans-serif !important;
}

:root {
  /* CSS HEX */
  --light-grey: rgb(227, 227, 227);
  --medium-grey: rgb(241, 138, 133);
  --dark-purple: rgb(71, 39, 49);
  --space-cadet: rgb(40, 33, 48);
  --canary: rgb(36, 120, 143);
  --grey: rgb(132, 141, 171);
  --white: #fffafc;
}

/* borders */
.border-light-grey {
  border: 1px solid var(--light-grey);
}

.border-medium-grey {
  border: 1px solid var(--medium-grey);
}

.border-dark-purple {
  border: 1px solid var(--dark-purple);
}

.border-dark {
  border: 1px solid var(--space-cadet);
}

.border-yellow {
  border: 1px solid var(--canary);
}

.border-grey {
  border: 1px solid var(--grey);
}

.background-light {
  background-color: var(--light-grey);
}

.background-medium-grey {
  background-color: var(--medium-grey);
}

.background-dark-purple {
  background-color: var(--dark-purple);
}

.background-dark {
  background-color: var(--space-cadet);
}

.background-yellow {
  background-color: var(--canary);
}

.background-grey {
  background-color: var(--grey);
}

.text-white {
  color: var(--white);
}

.text-light-grey {
  color: var(--light-grey);
}

.text-medium-grey {
  color: var(--medium-grey);
}

.text-dark-purple {
  color: var(--dark-purple);
}

.text-dark {
  color: var(--space-cadet);
}

.text-yellow {
  color: var(--canary);
}

.text-grey {
  color: var(--grey);
}

/* global style */
body {
  /*fonts*/
  font-size: 14px;
  /* size */
  height: 100%;
  margin: 0;
}

.globalBox {
  position: relative;
  height: 100vh;
}

.innerGlobalBox {
  position: absolute;
  margin: 28px;
  height: calc(100% - 56px);
  width: calc(100% - 56px);
  border-radius: 1px;
}

