.boxFooter {
  position: absolute;
  bottom: 8px;
  left: 42px;
  width: calc(100% - 56px);
}

.ui.grid>.row.footer {
  padding-top: 0px;
}

.ui.grid>.row>.column.author {
  padding: 0px;
}

.square {
  cursor: pointer;
  width: 20px;
  height: calc(100% - 4px);
  margin-top: 1px;
}