.ui.grid.intro-wrapper {
  height: 100%;
}

.ui.grid>.column.intro-text {
  white-space: pre-line;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 20px;
}