.ui.grid.boxNavbar {
  margin: 16px;
  height: calc(100% - 32px);
  align-items: baseline;
}

.ui.grid>.row.header {
  height: fit-content;
}

.ui.grid>.row>.column.tittleWrapper {
  padding-left: 36px;
}

.navbarTitle {
  font-size: 24px;
}

.ui.grid>.row.navbarSubtitle {
  margin-top: -8px;
  padding: 0px;
  font-size: 16px;
}

.linkIcons > * {
  font-size: 24px;
  margin-right: 10px;
  color: var(--space-cadet);
}

.linkIcons > *:hover {
  color: var(--light-grey);
  cursor: pointer;
}

.main {
  height: calc(100% - 100px);
}

.ui.grid>.row>.column.menu {
  font-size: 16px;
  padding: 38px;
}

.ui.grid>.row.option {
  padding: 5px 0px;
}

.ui.grid>.row.option>a {
  color: rgb(71, 39, 49);
}

.ui.grid>.row.option>a:hover {
  cursor: pointer;
  color: rgb(40, 33, 48);
  text-decoration: underline;
}

.introText {
  white-space: pre-line;
  font-size: 16px;
  height: 100%;
}
