.ui.grid>.row.navbar {
  padding-bottom: 0px;
}

.ui.grid.boxNavbar {
  margin-bottom: 0px;
}

  
.boxNavbar {
  height: 150px;
  position: sticky;
}

.navbar {
  height: 100px;
  font-size: 35px;
}

.linkIcons > * {
  margin-right: 10px;
  color: var(--white);
}

.linkIcons > *:hover {
  color: var(--persian-green);
  cursor: pointer;
}

.menu {
  font-size: 30px;
}
